/*CardsBRe*/

.lbl-Edad{margin-top: -1.5em; margin-left: 3em;}
.lbl-sexo{margin-top: -1.5em; margin-left: 3em;}
.lbl-EsdCivil{margin-top: -1.5em; margin-left: 6em;}
.lbl-ocupacion{margin-top: -1.5em; margin-left: 6em;}

.lbl-Docum{margin-top: -1.5em; margin-left: 6em;}
.lbl-TipDocm{margin-top: -1.5em; margin-left: 9.5em;}
.lbl-NumDoc{margin-top: -1.5em; margin-left: 11.3em;}
.lbl-PaisE{margin-top: -1.5em; margin-left: 6em;}

.lbl-ExpDocm{margin-top: -1.5em; margin-left: 9.7em;}
.lbl-Nac-Ext{margin-top: -1.5em; margin-left: 9.7em;}
.lbl-MtVis{margin-top: -1.5em; margin-left: 11em;}
.lbl-OrigDest{margin-top: -1.5em; margin-left: 7.9em;}
.lbl-MtVit{margin-top: -25em;margin-left: 50em}
.Card-lbl{margin-left: 15em;
 margin-top: 1em;}
 .Card-lbl 

.Cont-1{margin-top: -1em;}
.Cont-2{margin-top: -4em}
.Cont-3{margin-top:-2.2em ;}

.CardInf{
    margin-right: 3em;
    margin-left: 35em;
  }