.iconfechn {
    margin-top: 2em;
    margin-left:1em ;
   }
   .iconid{margin-top: -0em; margin-left:1em }
   .iconidC{ margin-left:0.8em ;}
   .iconflag{margin-left:0.8em }
   .iconCalent{
    
   
   }
   
   .fechanar{font-size: 20px;}
   .Docnum{font-size: 20px;margin-top: -1.5em;}
   .Ncid{font-size: 20px;}
   .nacioL{}
   
   .nacioL,
   .fechanar,
   .Docnum,
   .Ncid{
     margin-left: 2.9em;
   }
   
   .fechanar{
     margin-top: -1.4em
   
   }
   
   .Ncid{ margin-top: -1.5em}
   
   .btnBz{
     margin-left: 15em;
   }