@tailwind base;
@tailwind components;
@tailwind utilities;

/*cards-de- CardsP*/
.cardresult {
  @media{ min-width: 800px;  }
  
margin-left: 1em;
background: #4b6c9b;
margin-left: 4em;
margin-top: 5em;
padding: 15px;
width: 60%;
height: 125px;
box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
border-radius: 17px;
color: #fff;
font-weight: 600;
border-bottom: #4233337e .3px solid;
}

.pnombre{margin-left: 0em;}
.hrname{margin-right: 0em;}
.Pfuent{margin-left: 0em;}

/*CardsBqs3*/
.nextr {
  margin-top: -5em;
  border: #d81515 1px solid;
  border-radius: 25px;
  width: 15%;
  color: black;
  height: 3.5em;
  margin-left: 33em;
  margin-top: -5;
}
.btnBqs3{margin-left: 50em;margin-top: -em;}

.iconFuentBqs3{margin-left: 25.9em;}

.iconNacBqs3,
.icondocBqs3,
.icondocIdBqs3,
.iconCalendBqs3,
.iconCalend{
  margin-left: -3em;
}
.icondocBqs3,
.iconNacBqs3{margin-top: -1.5em;}

.lbl-fechNBqs3{margin-top: -1.5em;}
.lbl-FuentBq3{
  margin-left: 25em;
  margin-top: -1.5em;
}
.lbl-docIdBqs3
{
  margin-top: -1.5em;
}

.iconUserBqs3{
  margin-left: -3em;
  margin-top: -1.2em;
}
.cardBqs3 {
  @media{ min-width: 800px;  }
  
margin-left: 1em;
background: #4b6c9b;
margin-left: 4em;
margin-top: 5em;
padding: 15px;
width: 40%;
height: 170px;
box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
border-radius: 17px;
color: #fff;
font-weight: 600;
border-bottom: #4233337e .3px solid;
}

.imgcardBqs3{

  border-radius: 10%;
  float:right;
  width:8em;
  height:9em;
 
}

.lbl-UserBq3{
  margin-top: -1.4em;
}
/*Accorden1*/
.lbl-ConslAcc1,
.lbl-DircAcc1 ,
.lbl-ModifAcc1{
  margin-left: 6.8em;

}

.lbl-ModifAcc1{margin-top: -2.6em;}
.lbl-DircAcc1,.lbl-ConslAcc1 {margin-top: -2.7em;}


.lbl-Gr2A1{
  margin-left: 2em;
  margin-top: -9em;
}
.lbl-Gr7{
  margin-top: -0.9em;
}
 
.lbl-ProvinAcc1,
.lbl-Visa-PerAcc1,
.lbl-No-visaAcc1 {
  margin-top: -2.6em;
  margin-left:7.8em
}

.lbl-PaisReAcc1,
.lbl-TelefAcc1,
.lbl-No-ProlAcc1{
  margin-top: -2.6em;
  margin-left: 8.8em
}


.lbl-VueloAcc1,
.lbl-lineaAcc1,
.lbl-FechRAcc1{
  margin-top: -2.6em;
  margin-left:6em
}

.lbl-HoraAcc1,
.lbl-LineaAcc1, 
.lbl-pto-ProxAcc1{
  margin-top: -2.6em;
  margin-left: 7em
}

.lbl-LugarAcc1,
.lbl-MovmAcc1,
.lbl-TermnAcc1,
.lbl-SalonAcc1{  
  margin-top: -2.6em;
  margin-left: 7em}

.lbl-TaqllAcc1,
.lbl-ActuantAcc1,
.lbl-Fech-finAcc1,
.lbl-FechRAcc1{
  margin-top: -2.6em;
  margin-left: 7em
}



/**/
.cardlbl{
margin-top: -9.1em;
margin-left: 13em;

}
/* CardsP*/

.imgCardp {
  text-align:right;
  border-radius: 10%;
  float:right;
  width:100px;
   height:96px;
}
 .hrname{ text-decoration: none;}
.cardresult:hover {
    background-color: rgba(3, 37, 100, 0.65);
    cursor: pointer;
    color: black;
}
.cardresult{
    vertical-align: text-top;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;}

.cardresult:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
    /**/
.iconfechn {
 margin-top: 2em;
 margin-left:1em ;
}
.iconid{margin-top: -0em; margin-left:1em }
.iconidC{ margin-left:0.8em ;}
.iconflag{margin-left:0.8em }
.iconCalent{
 

}

.fechanar{font-size: 20px;}
.Docnum{font-size: 20px;margin-top: -1.5em;}
.Ncid{font-size: 20px;}
.nacioL{}

.nacioL,
.fechanar,
.Docnum,
.Ncid{
  margin-left: 2.9em;
}

.fechanar{
  margin-top: -1.4em

}

.Ncid{ margin-top: -1.5em}

.btnBz{
  margin-left: 15em;
}
/**/



.lbl-fechan{
  margin-right: 7em;
  margin-top: -1.5em;
}
.lbl-docId{
  margin-right: 10em;
  margin-top: -1.5em;
}
.lbl-docTp {
  margin-right: 10em;
  margin-top: -1.em;
}

.imgCar{
  /*border-radius: 10%;*/
  width:200px;
  margin-left: em;  
}

.lbl-user{
  margin-left: 1em;
  margin-top: -0em;
}

.lbl-paisN{
  margin-left: -10em;
  margin-top: -1.6em;

}

.iconidC2{
  margin-left: -0.2em;

}
.iconFlagp{
  margin-left: -0.10em;
  margin-top: 0em;
}
.btn-Vregis{
  margin-left: 16em;
  
}

.card-3{


 width: 75%;

}

.Cards-acord{
width: 100%;
}
 /*Accor*/

 .lbl-userAC{
  font-size: 150%;
  margin-left: 10em;
  margin-top: -8em;

 }

 .imgCar-AC{
  border-radius: 5%;
  margin-top: -1.5em;
  margin-left: -1em;
  width:180px;
 
 }

 .lbl-TiDocAc{margin-left: 12.9em;}
 .lbl-fechAC {margin-left: 12.9em;} 
 .lbl-NumDocAc{margin-left: 12.9em;}
 .lbl-NacioAc{margin-left: 12.9em;}
 .lbl-DireccAC{margin-left: 12.9em;}
 .lbl-FuentInfAC{margin-left: 12.9em;}

 .lbl-fechNRAC{margin-left:22.9em;margin-top: -2.6em;}
 .lbl-TiDocAcNRAC{margin-left:22.9em;margin-top: -2.6em;}
 .lbl-NumDocAcNRAC{margin-left:22.9em;margin-top: -2.6em;}
 .lbl-NacioAcNRAC{margin-left:22.9em;margin-top: -2.6em;}
 .lbl-DireccACNRAC{margin-left:22.9em;margin-top: -2.6em;}
 .lbl-FuentInfACNRAC{margin-left:23.5em;margin-top: -2.6em;}

 .btnBzAC{
  margin-right: 35em;
  margin-top: -2em;
 }

 /*CardsBRe*/

 .lbl-Edad{margin-top: -1.5em; margin-left: 3em;}
 .lbl-sexo{margin-top: -1.5em; margin-left: 3em;}
 .lbl-EsdCivil{margin-top: -1.5em; margin-left: 6em;}
 .lbl-ocupacion{margin-top: -1.5em; margin-left: 6em;}

 .lbl-Docum{margin-top: -1.5em; margin-left: 6em;}
 .lbl-TipDocm{margin-top: -1.5em; margin-left: 9.5em;}
 .lbl-NumDoc{margin-top: -1.5em; margin-left: 11.3em;}
 .lbl-PaisE{margin-top: -1.5em; margin-left: 6em;}

 .lbl-ExpDocm{margin-top: -1.5em; margin-left: 9.7em;}
 .lbl-Nac-Ext{margin-top: -1.5em; margin-left: 9.7em;}
 .lbl-MtVis{margin-top: -1.5em; margin-left: 11em;}
 .lbl-OrigDest{margin-top: -1.5em; margin-left: 7.9em;}
 .lbl-MtVit{margin-top: -25em;margin-left: 50em}
 .Card-lbl{margin-left: 15em;
  margin-top: 1em;}
  .Card-lbl 

.Cont-1{margin-top: -1em;}
.Cont-2{margin-top: -4em}
.Cont-3{margin-top:-2.2em ;}


 /*CardsRV*/

 .iconfechnRV{
  margin-top: 3em;
 }
 .iconidCRV{
 margin-top: 1.8em;
 }
 .iconflagRv{
  margin-top: 1.8em;
 }
 .fechanarRV{
  font-size: 1.3em;
  margin-top: -1.3em;
  margin-left: 1.8em;
 }

 
 .NcidRV{
  font-size: 1.3em;
  margin-top: -1.5em;
  margin-left: 1.8em;
 }
 

/*Accorden2RV*/ 
.lbl-ModifACRV{margin-left: 7em; margin-top: -2.6em;}
.lbl-DirccACRV{margin-left: 7em; margin-top: -2.6em;}
.lbl-ConslACRV{margin-left: 7em; margin-top: -2.6em;}
 
/*Navbar*/
.ImgNav {    margin-left: 15px;
  margin-right: 15px;
  margin-top: -0.2em;
  width: 62px;
  height: 70px;}
.ImgNav img{    margin-left: 15px;
margin-top: -0.0em;
width: 62px;
height: 70px;}

.imgUser{
  margin-top: -2em;
  width: 5em; 
  height: 4em;
  border-radius: 1500px;
}


.bntBusq{
  margin-top: 1em;
  margin-left: -0.5em;
}
.menDesp{
  margin-top: -5.5em;

}
.bntcamr {
  margin-left: 0.6em;

  
}.bntcamr svg{
  margin-top: -0.4em;
  width: 26px;
  height:26px;

}
.bntuser {
  position: absolute;
  height: 4rem;
  right:12rem;
  width: 5rem;
  top:0.75rem;

}

.lbl-userIc {
  position: absolute;
  top:1rem;
  right: 3rem;
  
}
.bntFaid{
  position: absolute;
  height: 4rem;
  right:17rem;
  width: 2rem;
  top:0.75rem;
}

.bntuser {
  width: 60px;
  margin-top: 0.1rem;

}


.Navbar{
  height: 9rem;
    background-color: #151d2a;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.Search{
  width: 30em;
  margin-left: 3em;;
}

/***/

.SearchMup{
  margin-top: 5em;
}

.CardInf{
  margin-right: 3em;
  margin-left: 35em;
}