@tailwind base;
@tailwind components;
@tailwind utilities;






/**/



/**/



.lbl-docTp {
  margin-right: 10em;
  margin-top: -1.em;
}









.Cards-acord{
width: 100%;
}



/*Accorden2RV*/ 

/***/


